# ==========================================
# FLOWSCRIBE ROOT ENVIRONMENT VARIABLES
# (For Docker Compose and Local DB)
# ==========================================

# --- PostgreSQL ---
POSTGRES_USER=POSTGRES_USER_NAME
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
POSTGRES_DB=POSTGRES_DB_NAME
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
# Database to connect to initially (for creating the target DB)
POSTGRES_INIT_DB=

# --- Redis ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- pgAdmin (Visual Database Manager) ---
# This is the login you will use to enter the pgAdmin web UI at http://localhost:5050
PGADMIN_DEFAULT_EMAIL=DEFAULT_EMAIL_FOR_PGADMIN
PGADMIN_DEFAULT_PASSWORD=DEFAULT_PASSWORD_FOR_PGADMIN

# ------------------------------------------
# FRONTEND VARIABLES
# ------------------------------------------
VITE_API_URL="http://localhost:6000"
